body {
  padding: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
}
header {
  background: lightblue;
  flex-basis: 100%;
}
section {
  background: lightgreen;
  flex: 1 0 70%;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  flex: 0 0 25%;
}
header,
article,
section,
.module {
  padding: 1rem;
}
